div.contact {
    color: white;
    margin: 3rem 0 0 8rem;
    width: 70%;
  }
  
  h1.contact {
    font-family: "IBM Plex Mono", monospace;
  }
  
  #mediaLinks {
    display: flex;
    flex-direction: column;
  }
  
  div.socMed {
    display: inline-block;
    width: fit-content;
  }
  
  a.socMed {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    white-space: nowrap;
    text-decoration: none; /* Ensure no underline on links */
  }
  
  a.socMed:hover {
    color: #999;
  }
  
  img.socMed {
    width: 1.6rem;
    height: 1.6rem;
    margin: 0 0.5rem 0 0;
  }
  
  #github {
    background-color: white;
    border-radius: 1rem;
  }
  #phone {
    background-color: white;
    border-radius: 0.4rem;
    padding: 1px;
  }
  #mail {
    background-color: white;
    border-radius: 0.4rem;
  }
  
  h2.socMed {
    color: white;
    font-family: "IBM Plex Mono", monospace;
    margin: 0; /* Ensure no extra margin on headings */
  }
  
  h2.socMed:hover {
    color: #ccc;
  }
  
  @media only screen and (max-width: 800px) {
    div.contact {
      margin: 3rem auto;
      width: 90%;
    }   
  }
  
