/* General styles */
* {
    box-sizing: border-box;
  }
  
  body, html {
    width: 100%;
    height: 100%;
  }
  
  legend, label, input, ul.menu, li.menuElem {
    margin: 0;
    padding: 0;
  }
  
  ul.menu, li.menuElem {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  /* Header styles */
  div.header {
    display: block;
    position: relative;
  }
  
  div.mobileHeader {
    display: none;
  }
  
  div.header {
    background-color: #111;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem;
  }
  
  #avatar {
    width: 100%;
    object-fit: cover;
    border-radius: 1.5rem;
    border: 1px solid #333;
    transition-duration: 300ms;

  }
  #avatar:hover {
    width: 100%;
    object-fit: cover;
    border-radius: 1.5rem;
    border: 1px solid #777;

  }
  
  .nav-link:first-child {
    width: 60%;
  }
  
  .nav-link {
    position: relative;
    color: white;
    text-decoration: none;
    margin: 1rem 2rem;
    display: flex;
    align-items: end;
    font-size: 1.5rem;
  }
  
  .nav-link::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: -1px;
    left: 0;
    background-color: #fff;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  
  .nav-link:hover::before {
    transform: scaleX(1);
  }
  
  .nav-link:first-child::before {
    display: none;
  }
  
  .avatar-link {
    display: block;
  }
  .cursorChaser {
    position: fixed;
    bottom: 6rem;
    left: 1rem;
    width: 6rem;
    transition: transform 0.1s ease;
    transform: translate(var(--x, 0), var(--y, 0));
  }
  
  .cursorChaser.one {
    --factor-x: 0;
    --factor-y: 0;
  }
  
  .cursorChaser.two {
    --factor-x: 0.00175;
    --factor-y: 0.00385;
  }
  
  .cursorChaser.three {
    --factor-x: 0.0035;
    --factor-y: 0.0077;
  }
  
  .cursorChaser.four {
    --factor-x: 0.00525;
    --factor-y: 0.01155;
  }
  
  .cursorChaser.five {
    --factor-x: 0.007;
    --factor-y: 0.0154;
  }
  
  .cursorChaser.six {
    --factor-x: 0.00875;
    --factor-y: 0.01925;
  }
  
  .cursorChaser.seven {
    --factor-x: 0.0105;
    --factor-y: 0.0231;
  }
  
  .cursorChaser.eight {
    --factor-x: 0.01225;
    --factor-y: 0.02695;
  }
  
  .cursorChaser.nine {
    --factor-x: 0.014;
    --factor-y: 0.0308;
  }
  
  /* Mobile Header styles */
  @media only screen and (max-width: 800px) {
    div.header {
      display: none;
    }
  
    div.mobileHeader {
      display: block;
    }
  }
  
  /* Toggler styles */
  .input-toggler {
    display: none;
  }
  
  .menu-toggler {
    position: fixed;
    right: 0px;
    bottom: 0px;
    width: 6rem;
    height: 6rem;
    background: #111;
    border: 1px solid #333;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
  }
  
  .menu-toggler-line {
    width: 60%;
    height: 3px;
    background: white;
    margin: 0 0 10px 0px;
    position: relative;
    transition: all 0.40s ease-out;
    top: 5px; /* Default position */
  }
  
  .menu-toggler-line:nth-child(2) {
    top: 5px; /* Adjust as needed */
  }
  
  .menu-toggler-line:nth-child(3) {
    top: 5px; /* Adjust as needed */
  }
  
  .input-toggler:checked ~ .menu-toggler .menu-toggler-line {
    top: 12px;
    transform: rotate(45deg);
  }
  
  .input-toggler:checked ~ .menu-toggler .menu-toggler-line:nth-child(2) {
    display: none;
  }
  
  .input-toggler:checked ~ .menu-toggler .menu-toggler-line:nth-child(3) {
    top: 0px;
    transform: rotate(135deg);
  }
  
  .nav {
    width: 100%;
    height: 100%;
    background: #111;
  }
  
  .nav ul.menu {
    width: 100%;
  }
  
  .nav ul.menu li.menuElem {
    width: 100%;
    text-align: center;
  }
  
  .nav ul.menu li.menuElem a {
    display: inline-block;
    font-size: 36px;
    color: #fff;
    text-transform: uppercase;
  }
  
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: #111;
    opacity: 0.5;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center; 
    transform: translateX(-100%);
    transition: all 0.40s ease-out;
  }
  
  .input-toggler:checked ~ .sidebar {
    transform: translateX(0%);
    opacity: .98;
  }
  
  /* Menu link styles */
  .menu-link {
    color: white;
    font-size: 8vmin;
    line-height: 15vmin;
    transition: all 0.25s ease-out;
  }
  
  .menu-link:hover, .menu-link:focus, .menu-link:active {
    color: grey;
  }
  