/* src/componentStyle/Header.css */

.header {
    background-color: #111;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem;
}

#avatar {
    width: 14rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    margin-bottom: 1rem;
}

.nav-link {
    color: white;
    text-decoration: none;
    /* border: 1px solid pink; */
    margin: 1rem 2rem;
    display: block;
    font-size: 1.5rem;
}

.avatar-link {
    display: block;
}
